.MyPortrait > .MyPortraitImg{
	width: 70%;
    border-radius:50%;
    margin-top: 20px;
    border: solid 1px black;

    
}


@media screen and (max-width: 768px) {
    
    .MyPortrait>*{
        display: none;

    }
    
   
}
