
.Projects{
    height: 100vh;
    width: 80vw;

}


.Projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: stretch;
}

.Projects-container iframe {
    width:200px;
}