.ContactMe > a > img:hover{
    background-color: #00000030;
}

.ContactMe > a > img {
    height: 30px;
    padding: 2px;
    border-radius: 50%;
}
@media screen and (max-width: 768px) {
    .ContactMe > a > img {

    /* display: flex; */
    /* flex-direction: row; */
    /* flex-wrap: nowrap; */
    /* justify-content: space-between; */
    /* align-content: space-around; */
    /* align-items: center; */
}

}